img {
    height: 50px
}

.card-body {
    background-color:#007bff;
}

.greenUV {
    background-color: limegreen;
}

.yellowUV {
    background-color: yellow;
}

.orangeUV {
    background-color: orange;
}

.redUV {
    background-color: red;
}

.purpleUV {
    background-color: violet;
}